/*
These are styles that apply to all pages,
or are used in multipule components.
*/
@font-face {
  font-family: 'brandon-grotesque';
  src: url(./brandon_grotesque.otf);
}

@font-face {
  font-family: 'freight-display-pro' ;
  src: url(./freight_display_pro.otf);
}

#signature {
  position: absolute;
  right: 0;
  width: 200px;
}

.floatLeft {
  float:left;
}

.floatRight {
  float: right;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
